#### Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e

In [2]:
# Write a code here
import pandas as pd

data = [4,7,-5,3,float("nan")]
index= ['d','b','a','c','e']
s=pd.Series(data,index)
print(s)

d    4.0
b    7.0
a   -5.0
c    3.0
e    NaN
dtype: float64