 ### Create a dataframe in pandas using list and series

#### create a data frame using list


list1 = ['I', 'Love', 'Data', 'Science']

#### create dataframe from Dictionary

city_state = {'Delhi': 'Delhi', 'Mumbai': 'Maharashtra', 'Kolkata': 'West Bengal', 'Banglore': 'Karnataka'}

In [3]:
# Write a code here

import pandas as pd
list1 = ['I', 'Love', 'Data', 'Science']
pd.DataFrame(list1)

         0
0        I
1     Love
2     Data
3  Science

In [2]:
import pandas as pd
city_state = {'Delhi': 'Delhi', 'Mumbai': 'Maharashtra', 'Kolkata': 'West Bengal', 'Banglore': 'Karnataka'}
pd.DataFrame(city_state,index=[0])

   Delhi       Mumbai      Kolkata   Banglore
0  Delhi  Maharashtra  West Bengal  Karnataka