## Manipulating the Dataframes

#### Write a program to select the rows, where the sales are greater than 60000 for Mumbai location

df_store = pd.DataFrame({'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],

'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 'Delhi', 'Hyderabad', 'Pune',
'Mumbai', 'Pune'],

'Sales': [40000, 45600, 56000, 90000, 89000, 87000, 85000, 78000, 89000, 70000]
})

In [2]:
import pandas as pd

df_store = pd.DataFrame({'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],

'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Pune'],

'Sales': [40000, 45600, 56000, 90000, 89000, 87000, 85000, 78000, 89000, 70000] })


df_store[df_store['Location']=="Mumbai"][df_store['Sales']>=60000]

/var/folders/61/lkgw90991bq6gh25lnrhgr980000gn/T/ipykernel_71413/2187044961.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_store[df_store['Location']=="Mumbai"][df_store['Sales']>=60000]

  Store Location  Sales
3     C   Mumbai  90000
8     C   Mumbai  89000

-------------------

#### 2. Write a program to replace the â€˜Store' column, contains the values 'A', 'B', 'C', and 'D' with 'Store_A', Store_B', 'Store_C' and 'Store_D' respectively

In [7]:
import pandas as pd


df_store = pd.DataFrame({'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Pune'],'Sales': [40000, 45600, 56000, 90000, 89000, 87000, 85000, 78000, 89000, 70000] })
df_store['Store'].replace(['A', 'B', 'C', 'D'], ['Store_A', 'Store_B', 'Store_C', 'Store_D'], inplace=True)